
<div class="nav">

  <div class="banner">
    <%= link_to root_path do %>
      <%= image_tag('/banner.png', class: 'bannerImg') %>
    <% end %>
  </div>
  
  <div class="links">
    <%= link_to 'About', '/about', class: 'aboutLink' %>
  </div>

</div>

