<div class="nav">

  <div class="navlink">
    <%= link_to root_path do %>
      <%= image_tag('/banner.png', class: 'bannerImg') %>
    <% end %>
  </div>

  <div class="navlink"> 
    <%= link_to 'About', '/about', class: 'aboutlink' %>
  </div>

</div>

