<div class="kathyAbout">        
  <%= image_tag('/images/kathyAbout.jpg', class: 'aboutImg')%> <!-- change to horizontal img -->
  <br>
  <p><b>Katherine Bui</b> is a penguin turned software engineer. When the rest of the world is dead at 6am, you can find her at the gym lifting things.</p> 
</div>