<div class="sierraAbout">     
  <%= image_tag('/images/sierraAbout.jpg', class: 'aboutImg') %> <!-- change to horizontal img -->
  <br>
  <p><b>Sierra McLawhorn</b> is a filmmaking software engineer. You'll probably find her rolling down a hill of San Francisco, or socializing with the dog at the party.</p>
</div>