.aboutPageContainer {
  margin: auto;
  padding-left: 1%;
}

.aboutSiteContainer, .aboutInfoContainer {
  display: inline-block;
  vertical-align: top;
  padding: 2%;
}

.aboutSiteContainer {
  width: 54vw;
}

.aboutInfoContainer {
  width: 35vw;
}

.sierraAbout, .kathyAbout {
  display: inline-block;
  vertical-align: top;
  width: 180px;
  padding: 1%;
}

.aboutImg {
  width: 180px;
  text-align: center;
}

.aboutInfoLinks h2 {
  text-decoration: underline;
  margin-bottom: 1%;
}

.emailLink {
  font-weight: normal;
}

.socialIcon {
  width: 20px;
  padding-right: 2%;
}

.instaIcon {
  width: 16px;
  padding-right: 2%;
}




@media only screen and (max-width: 865px) {
  .aboutSiteContainer, .aboutInfoContainer {
    display: block;
  }
  .aboutSiteContainer {
    width: 92vw;
    margin: auto;
  } 
  .aboutInfoContainer {
    width: 92vw;
    margin: auto;
  }
  .individualAbouts {
    margin: auto;
    width: 67vw;
  }
  .sierraAbout, .kathyAbout {
    width: 240px;
  }
  .aboutImg {
    width: 240px;
    }
}