/* INDEX */

    /* SF skyline svg */
        $length1:1000;
        $length15:$length1 / 2;
        
        .skylineSF {
          text-align: center;
        }
    
        .skyline {
          // stroke-dasharray:0,$length15, 0,0,0, $length15,0;
          // stroke-dashoffset:0;
          // -webkit-animation: skyline 20s linear infinite;
        }
        
        @-webkit-keyframes skyline {
          0% {
            stroke-dasharray:0,$length15, 0,0,0, $length15,0;
            stroke-dashoffset:0;
          }
          20% {
            stroke-dasharray:0,0,$length15,0, $length15,0,0;
            stroke-dashoffset:300;
          }
          60% {
            stroke-dasharray:0,0,$length15,0, $length15,0,0;
            stroke-dashoffset:600;
          }
          80% {
            stroke-dasharray:0,0,$length15,0, $length15,0,0;
            stroke-dashoffset:900;
          }
          100% {
            stroke-dasharray:0,0,$length15,0, $length15,0,0;
            stroke-dashoffset:1200;
          }
        }
        


/* SHOW */

    .postsText {
      width: 40%;
      margin: auto;
      text-align: center;
    }


/* ADMIN */

    .adminPrivate {
      text-align: center;
    }