$font-stack:'Courier New', Courier, monospace;
$font-stack2:'ltc-bodoni-175', sans-serif;
$font-stack3:'Playfair Display', serif;
$font-stack4:'Poiret One', cursive;

/* INDEX */

    /* SF skyline svg */
        $length1:1000;
        $length15:$length1 / 2;
        
        .skylineSF, .skylineLA {
          text-align: center;
        }
    
        .skyline {
          // stroke-dasharray:0,$length15, 0,0,0, $length15,0;
          // stroke-dashoffset:0;
          // -webkit-animation: skyline 20s linear infinite;
        }
        
        @-webkit-keyframes skyline {
          0% {
            stroke-dasharray:0,$length15, 0,0,0, $length15,0;
            stroke-dashoffset:0;
          }
          20% {
            stroke-dasharray:0,0,$length15,0, $length15,0,0;
            stroke-dashoffset:300;
          }
          60% {
            stroke-dasharray:0,0,$length15,0, $length15,0,0;
            stroke-dashoffset:600;
          }
          80% {
            stroke-dasharray:0,0,$length15,0, $length15,0,0;
            stroke-dashoffset:900;
          }
          100% {
            stroke-dasharray:0,0,$length15,0, $length15,0,0;
            stroke-dashoffset:1200;
          }
        }
        


/* SHOW */

    .postText {
      width: 100vw;
      margin: auto;
      text-align: center;
    }

    .locationTitle {
      font-family: $font-stack2;
      text-align: center;
      letter-spacing: 2px;
      font-size: 1.1em;
    }

    .skylineMini {
      display: inline-block;
      text-align: center;
      width: 40%;
    }


/* ADMIN */

    .adminPrivate {
      text-align: center;
    }