$length1:1000;
$length15:$length1 / 2;
$length2:500;

body {
  background-color: #232323;
}

.skylineSF {
  margin: auto;
  text-align: center;
}

.skyline {
  stroke-dasharray:0,$length15, 0,0,0, $length15,0;
  stroke-dashoffset:15;
  -webkit-animation: skyline 20s linear infinite;
}

@-webkit-keyframes skyline {
  0% {
    stroke-dasharray:0,$length15, 0,0,0, $length15,0;
  }
  20% {
    stroke-dasharray:0,0,$length15,0, $length15,0,0;
  }
  60% {
    stroke-dasharray:0,0,$length15,0, $length15,0,0;
  }
  80% {
    stroke-dasharray:0,$length15, 0,0,0, $length15,0;
  }
  100% {
    stroke-dasharray:0,$length15, 0,0,0, $length15,0;
  }
}

@-webkit-keyframes skyline-bridge {
  0% {
    stroke-dasharray:0,$length2;
  }
  15% {
    stroke-dasharray:0,$length2;
  }
  17% {
    stroke-dasharray:$length2,0;
  }
  63% {
    stroke-dasharray:$length2,0;
  }
  65% {
    stroke-dasharray:0,$length2;
  }
  100% {
    stroke-dasharray:0,$length2;
  }
}