$font-stack:'Courier New', Courier, monospace;
$font-stack2:'ltc-bodoni-175', sans-serif;


body {
  margin-top: 15%;
  margin-bottom: 3%;
  background-color: #232323;
  color: white;
  font-family: 'Avenir Next';
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

  a {
    color: white;
    font-weight: bold;
    text-decoration: none;
  }

  a:hover {
    color: lightgray;
  }




/* _HEADER */
  .nav {
    position: fixed;
    top: 0;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100vw;
    background-color: #232323;
    text-align: center;
    z-index: 1;
  }

  .navlink {
    display: inline-block;
    padding-left: 5%;
    padding-right: 5%;
    vertical-align: middle;
    font-family: $font-stack;
    letter-spacing: 1.1px;
  }

  .bannerImg {
    width: 20vw;
  }


//* MOBILE *//
/* Smartphones (portrait) ----------- */
@media only screen and (min-width : 320px) {
   #mobile_portrait { 
    display: block;
    width: 100%;
    height: 204px;
    position: absolute;
    left: 0px;
    top: 125px;
    background-image: url(public/rotatephone.jpg);
    background-size: 250px 204px;
    background-position: center;
    background-repeat: no-repeat;
   }
}