<div class="skylineLA">
	<svg version="1.1" id="Layer_1" xmlns:x="&ns_extend;" xmlns:i="&ns_ai;" xmlns:graph="&ns_graphs;"
	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1953.316 481.333" enable-background="new 0 0 944 213.333" xml:space="preserve">
		<path fill="none" class="skyline" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" d="M-20.684,458.838h50 M28.816,458.338v-9 M29.316,449.838h16
			 M44.816,449.338v-9 M45.316,440.838h9 M53.816,440.338v-20 M54.316,420.838h31 M84.816,420.338v-48 M85.316,372.838h7
			 M91.816,372.338v-32 M92.315,340.338l9-9.668 M101.315,330.67L101.315,330.67 M101.315,330.67l6.667,9.668 M107.816,340.338v16
			 M108.316,356.838h6 M113.816,356.338v64 M114.316,420.838h15 M128.816,420.338v-153 M129.316,267.838h13 M141.816,267.338v-26
			 M142.316,241.838h22 M164.315,241.338l14.333,6.665 M178.648,248.003l13.333,6.335 M191.816,254.338v22 M192.316,276.838h6
			 M197.816,276.338v13 M198.316,289.838h6 M203.816,289.338v131 M204.316,420.838h8 M212.315,420.338l14.333,10 M226.316,430.838
			h12 M237.816,430.338v-74 M238.316,356.838h-6 M231.816,356.338v-12 M232.315,344.338l66.333-8.834 M297.816,335.338v-13
			 M298.315,322.338l13.666,26 M311.816,348.338v24 M312.316,372.838h14 M325.816,372.338v16 M326.315,388.338l13.666,8
			 M339.816,396.338v-8 M340.316,388.838h8 M347.816,388.338v16 M348.316,404.838h6 M353.816,404.338v26 M354.316,430.838h8
			 M361.816,430.338v-116 M362.316,314.838h15 M376.816,314.338v-47 M377.315,267.338l28-0.332 M404.816,267.338v-31
			 M405.316,236.838h16 M420.816,236.338v-18 M421.316,218.838h41 M461.816,218.338v18 M471.981,236.338l-9.666-9 M471.816,236.338
			v31 M472.316,267.838h13 M484.816,267.338v24 M485.315,291.338l14.666-15 M499.816,276.338v-107 M500.316,169.838h28
			 M527.816,169.338v-12 M528.316,157.838h32 M560.315,157.338l9,12 M569.316,169.838h24 M592.816,169.338v235 M593.315,404.338
			l6.666,13 M599.816,411.338v-147 M600.316,264.838h13 M612.816,264.338v-95 M613.316,169.838h63 M675.816,169.338v131
			 M676.316,300.838h24 M699.816,300.338v38 M700.315,338.338l11.666,2 M711.816,340.338v15 M712.315,355.338l13-0.5
			 M724.816,355.338v-20 M725.316,335.838h28 M752.816,335.338v-215 M753.316,120.838h71 M823.816,120.338v194 M824.316,314.838h13
			 M836.816,308.338v-8 M837.316,291.838h16 M848.464,291.524l1.703-82.373 M845.316,209.838h8 M853.316,209.838h8 M860.816,209.338
			v-11 M861.316,198.838h25 M885.816,198.338v11 M886.315,209.338l5.666-0.001 M891.981,209.337l-2.833,179.001 M889.316,388.838h8
			 M896.816,388.338v-292 M897.316,96.838h57 M953.816,96.338v223 M954.316,319.838h10 M963.816,319.338v-11 M964.315,308.338
			l22.333-4 M985.816,304.338v10 M986.316,314.838h15 M1000.816,314.338v111 M1001.316,425.838h15 M1015.816,425.338v-55
			 M1022.648,369.838l-6.332,0.5 M1021.816,370.338v-48 M1022.316,322.338L1022.316,322.338 M1027.982,319.338l1.334,61
			 M1029.316,380.838h7 M1035.816,380.338v-211 M1036.316,169.838h9 M1044.816,169.338v-39 M1045.316,130.838h8 M1052.816,130.338
			v-34 M1053.316,96.838h8 M1060.816,96.338v-71 M1061.316,25.838h36 M1096.816,25.338v71 M1097.316,96.838h9 M1105.816,96.338v34
			 M1106.316,130.838h12 M1117.816,130.338v39 M1118.316,169.838h8 M1125.816,169.338v229 M1126.316,398.838h11 M1136.816,398.338
			v-166 M1137.316,232.338l8-0.5 M1144.816,232.338v-46 M1145.316,186.838h80 M1224.816,186.338v46 M1238.648,232.088l-13.332,0.25
			 M1237.816,232.338v193 M1238.316,425.838h10 M1247.816,425.338v-65 M1248.316,360.838h8 M1255.816,360.338v-14 M1256.316,346.338
			l15.666-1 M1271.816,345.338v15 M1272.316,360.838h6 M1277.816,360.338v80 M1278.316,440.838h11 M1288.816,440.338v-142
			 M1289.316,298.338l24-7 M1312.816,291.338v-183 M1313.316,108.838h80 M1392.816,108.338v167 M1393.316,275.338l13.332-0.5
			 M1405.816,275.338v-25 M1406.316,250.838h10 M1415.816,250.338v-14 M1416.316,236.838h57 M1472.816,236.338v18 M1473.316,254.838
			h9 M1481.816,254.338v21 M1482.316,275.338l8.332-0.5 M1489.816,275.338v136 M1490.316,411.338l9.666-0.5 M1499.816,411.338v-19
			 M1500.316,392.338l26.332-12 M1559.982,393.338l-33.334-13 M1559.816,393.338v9 M1560.316,402.338l22.332-9 M1582.648,393.338
			l8,7 M1590.648,400.338l25.334-8 M1615.982,392.338l-12.666,28 M1603.316,420.838h27 M1630.316,420.338l17.666,10
			 M1647.816,430.338v-19 M1648.316,411.338l58.332-0.5 M1705.816,411.338v19 M1706.316,430.338l17.666-19 M1742.648,417.338
			l-18.666-6 M1741.816,417.338v13 M1742.316,430.838h10 M1751.816,430.338v-13 M1752.316,417.838h24 M1775.816,417.338v13
			 M1776.316,430.838h16 M1791.816,430.338v-24 M1792.316,406.338l7.666-2 M1799.816,404.338v-11 M1800.316,393.838h20
			 M1819.816,393.338v21 M1819.816,414.338v21 M1820.316,445.838h20 M1839.816,445.338v-25 M1840.316,420.838h29 M1868.816,420.338
			v-14 M1869.316,406.838h28 M1896.816,406.338v18 M1897.316,424.338l17.332,1 M1913.816,425.338v-10 M1914.316,415.838h39
			 M1490.316,346.338l36.332-48 M1526.648,298.338l64-35.5 M1590.316,263.838h19 M1609.316,263.338l21,2 M1630.316,265.338
			l32.332-2.5 M1662.316,263.838h34 M1696.316,263.338l37,4 M1733.316,267.338l31-4.5 M1764.316,262.838l20,4.5 M1784.316,267.338
			l63.666,46.5 M1847.982,313.838l6.834,5.5 M1854.816,319.338l14.5,35.5 M1869.316,354.838l28,17.5 M1897.316,372.338l17.332,29.5
			 M1913.816,402.338v23 M1568.816,319.838v25h8v-10h8v10h7v-25h-7v10h-8v-10H1568.816z M1610.474,319.203
			c-8.65,0-12.891,5.954-12.891,12.848c0,6.931,3.484,12.999,12.369,12.999c7.432,0,12.656-3.86,12.656-13.375
			C1622.609,325.907,1619.937,319.203,1610.474,319.203z M1610.183,323.473c3.426,0,4.471,4.006,4.471,8.427
			c0,5.133-1.221,8.879-4.414,8.879c-3.076,0-4.76-2.922-4.76-8.653C1605.48,326.693,1607.164,323.473,1610.183,323.473z
			 M1626.816,344.838h18v-4h-10v-21h-8V344.838z M1648.816,344.838h18v-4h-10v-21h-8V344.838z M1679.816,344.838v-9.941
			l9.486-15.059h-7.896l-2.322,6.225c-0.697,1.799-1.334,3.775-1.801,5.775h-0.115c-0.58-2-1.334-4.053-2.031-5.662l-2.672-6.338
			h-8.129l8.48,15.245v9.755H1679.816z M1705.609,344.838l2.613-7.963c0.812-2.473,1.453-5.037,2.148-8.037h0.117
			c0.521,3,1.104,5.676,1.74,7.998l2.322,8.002h7.838l6.91-25h-7.432l-1.916,10.043c-0.521,2.922-0.986,5.957-1.51,8.957h-0.115
			c-0.465-3-1.162-6.146-1.859-8.992l-2.613-10.008h-6.152l-2.789,10.08c-0.812,3.035-1.684,5.92-2.205,8.92h-0.174
			c-0.465-3-0.814-5.998-1.336-8.881l-1.916-10.119h-7.895l6.676,25H1705.609z M1744.386,319.203
			c-8.65,0-12.891,5.954-12.891,12.848c0,6.931,3.484,12.999,12.367,12.999c7.434,0,12.658-3.86,12.658-13.375
			C1756.521,325.907,1753.849,319.203,1744.386,319.203z M1744.095,323.473c3.426,0,4.471,4.006,4.471,8.427
			c0,5.133-1.221,8.879-4.414,8.879c-3.076,0-4.76-2.922-4.76-8.653C1739.392,326.693,1741.076,323.473,1744.095,323.473z
			 M1772.304,319.203c-8.65,0-12.891,5.954-12.891,12.848c0,6.931,3.484,12.999,12.369,12.999c7.432,0,12.658-3.86,12.658-13.375
			C1784.441,325.907,1781.769,319.203,1772.304,319.203z M1772.015,323.473c3.426,0,4.469,4.006,4.469,8.427
			c0,5.133-1.219,8.879-4.412,8.879c-3.076,0-4.76-2.922-4.76-8.653C1767.312,326.693,1768.996,323.473,1772.015,323.473z
			 M1788.816,344.673c1,0.111,4.105,0.262,6.486,0.262c5.457,0,9.457-0.786,12.07-2.434c3.426-1.948,5.512-5.581,5.512-10.677
			c0-4.906-1.715-8.24-5.08-10.188c-2.498-1.497-6.127-2.247-11.064-2.247c-3.02,0-5.924,0.187-7.924,0.487V344.673z
			 M1796.816,323.434c0-0.111,1.008-0.111,1.529-0.111c4.588,0,6.689,3.145,6.689,8.315c0,6.967-3.211,9.289-6.867,9.289
			c-0.406,0-1.352,0-1.352-0.075V323.434z"/>
	</svg>
</div>