<div class="skylineSF">
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      viewBox="0 0 944 213.333" enable-background="new 0 0 944 213.333" xml:space="preserve">
        <path fill="none" class="skyline" stroke="#FFFFFF" stroke-miterlimit="10" d="M2.833,203.333v-14 M2.333,189.833h6 M7.833,190.333v-29
         M7.333,161.833h23 M29.833,162.333v34 M29.333,196.833h12 M40.833,197.333v-18 M40.333,179.833h8 M47.833,180.333v4
         M47.333,184.833h14 M60.833,185.333v-24 M60.333,161.833h23 M82.833,162.333v14 M82.833,176.333l3.833,3 M86.833,179.333v6
         M86.333,185.833h10 M95.833,186.333v-34 M95.333,152.833h14 M108.833,153.333v33 M108.333,186.833h6 M113.833,187.333v3
         M113.333,190.833h7 M119.833,191.333v-21 M119.833,170.333l16.167-0.5 M135.833,170.333v17 M135.333,187.833h7 M141.833,188.333
        v-12 M152.833,176.333v15 M152.333,191.833h7 M158.833,192.333v-11 M158.833,181.333l4.5-0.5 M162.833,181.333v-28 M162.333,153.833
        h22 M183.833,154.333v38 M183.333,192.833h10 M192.833,193.333v-7 M192.833,186.333l3.833-0.5 M196.833,186.333v-32
         M196.333,154.833h19 M214.833,155.333v21 M214.833,176.333l11.167-0.5 M225.833,176.333v-27 M225.333,149.833h17 M241.833,150.333
        v26 M241.833,176.333l6.167-0.25 M247.833,176.333v-65 M247.333,111.833h25 M271.833,112.333v8 M271.333,120.833h35
         M305.833,121.333v40 M305.833,161.333l12.167-17.5 M318,143.833l12.667,11.5 M330.833,155.333v-34 M336.833,121.333v76
         M336.833,197.333l11.833-0.5 M348.833,197.333v-24 M348.333,173.833h6 M353.833,174.333v-58 M353.333,116.833h4 M356.833,117.333
        v-6 M356.333,111.833h3 M358.833,112.333v-9 M358.333,103.833h3 M360.833,104.333v-19 M360.333,85.833h9 M368.833,86.333v2
         M368.333,88.833h-8 M361.333,103.833l3.5-0.5 M364.833,103.333v8 M364.333,111.833h3 M371.333,145.833h7 M377.833,146.333v-21
         M377.333,125.833h10 M386.833,126.333v-6 M386.333,120.833h10 M395.833,121.333v-9 M395.333,112.833h3 M397.833,113.333v-14
         M397.333,99.833h3 M400.833,100.333v26 M400.333,126.833h3 M402.833,127.333v-28 M402.333,99.833h4 M405.833,100.333v13
         M405.833,113.333l2.167-0.5 M407.833,113.333v9 M407.833,122.333l6.833-0.5 M414.833,122.333v4 M414.333,126.833h8
         M421.833,127.333v30 M430.833,114.333v-50 M430.333,64.833h5 M434.333,64.833L442,29 M442,29l8,35.833 M449.333,64.833h5
         M453.833,114.833l15.167,65.5 M469.333,180.833h5 M473.833,181.333v11 M473.333,192.833h8 M366.833,112.333v4 M371.333,145.833
        l-0.5-28.5 M366.333,116.833h4 M430.833,114.333l-9,45 M453.833,115.333v-50 M330.333,121.833h6 M141.333,176.833h11 M2.333,175.833
        h5 M2.333,166.667l5,0.333 M31.333,167.833h29 M31.333,175.833h29 M82.333,167.833h13 M82.833,176.333l12.5-1 M108.333,167
        l54.5,0.333 M111.333,175.833h8 M139.333,175.833h23 M183.333,167.833h13 M185.333,176.833h11 M56.833,101.333v82 M54.938,101.333
        l-0.208,82 M71.833,101.333v61 M74,161.833l0.333-60.5 M57.333,162.333l14-11.333 M56.833,148.333l14.5,14 M57.333,135l14,13.333
         M71.333,136.333l-12.333,12 M56.833,120.667l14.5-14.334 M57.333,104.667l14,14 M107.667,146.667l13,7.666 M120.667,154.333l15,7.5
         M148.667,166.667l-13-4.834 M75,106.333l13.833,12.334 M0,158.083L14.333,151 M14.333,151l13-7.5 M27.333,143.5l12.5-8.542
         M57.333,135l14-14.333 M56.833,120.667l14.5,15.666 M107.667,146.667L94,136.333 M74,120.667l20,15.666 M144.667,155.333
        l-25.333-13.666 M144.667,155.333l17.667,8.917 M54.938,122.333l-15.104,12.625 M27.333,127.833L44,116.167 M27.333,127.833
        l-16,11.396 M11.333,139.229L0,145 M44,116.167l10.938-9.834 M88.833,118.667l22.5,17.666 M111.333,136.333l8,5.334 M57.333,104.833
        h14 M214.333,167.833h11 M2.333,175.833h5 M31.333,175.833h24 M56.833,175.833l3.5-0.5 M95.333,175.333l-12.5,0.5 M108.333,176.833
        h11 M135.333,176.833h27 M185.333,176.833h11 M55.333,101.833h1 M71.333,101.833h3"/>
        <path fill="none" class="skyline" stroke="#FFFFFF" stroke-miterlimit="10" d="M481.333,124.333l20-0.103 M500.833,124.333v4 M501.333,128.833h6
         M506.833,128.333v51 M507.333,179.833h5 M511.833,179.333v-48 M512.333,131.833h5 M516.833,131.333v-12 M517.333,119.833h3
         M519.833,119.333v-9 M520.333,110.333l9-7.667 M528.833,101.333v-7 M529.005,93.333l3.49-0.667 M531.833,92.333v-7 M532.333,85.833
        h4 M535.833,85.333v11 M535.833,96.333v6 M536.333,102.333l11.667,8 M547.833,110.333v6 M547.344,116.333l2.979-0.166
         M549.833,116.333v-74 M550.333,42.833h9 M558.833,42.333v-20 M559.333,22.833h12 M570.833,22.333v-7 M571.333,15.833h13
         M583.833,15.333v10 M584.333,25.833h12 M595.833,25.333v17 M596.333,42.833h5 M600.833,42.333v77 M601.333,119.833h11
         M611.833,119.333v-20 M612.333,99.833h8 M619.833,99.333v-10 M620.333,89.333l7-0.5 M626.833,89.333v-15 M627.333,74.833h13
         M639.833,74.333v15 M640.333,89.833h7 M646.833,89.333v7 M647.333,96.833h7 M653.833,96.333v58 M654.333,154.333l5.667-0.5
         M659.833,154.333v-5 M660.333,149.833h16 M675.833,149.333v-100 M676.333,49.833h4 M679.833,49.333v-7 M680.333,42.833h44
         M723.833,42.333v7 M724.333,49.833h6 M729.833,49.333v97 M730.333,146.833h7 M736.833,146.333v18 M737.333,164.833h7
         M743.833,164.333v19 M744.333,183.833h6 M749.833,183.333v-55 M750.333,128.833h12 M761.833,128.333v6 M783.833,134.333v49
         M784.333,183.833h3 M786.833,183.333v-9 M787.333,174.333l29.334-0.5 M815.833,174.333v9 M816.333,183.333l17-4 M832.833,179.333
        v-12 M833.333,167.833h5 M837.833,167.333v-6 M838.333,161.833h4 M841.833,161.333v-62 M848.333,92.833h4 M852.333,92.333l3,3.667
         M854.833,96.333v6 M854.833,102.333v62 M855.333,164.833h5 M860.333,164.833h6 M865.833,164.333v19 M866.333,183.333L882.667,186
         M881.833,186.333v-29 M882.333,157.833h20 M901.833,157.333v22 M902.333,179.833h9 M910.833,179.333v-5 M911.333,174.833h18
         M928.833,174.333v12 M929.333,186.333L944,186 M761.333,134.833h22 M848.333,92.833l-6,1.5 M842.333,94.333l-0.5,5"/>
        <line fill="none" class="skyline" stroke="#FFFFFF" stroke-miterlimit="10" x1="480.833" y1="124.333" x2="480.833" y2="193.333"/>
    </svg>
</div>