<!-- if admin -->
 <div class='adminPrivate'>
    <%= link_to 'New Location', new_location_path %>
  </div>
<br><br>




<div class="locations">
  <a class="sanfran" href="/locations/1"> 
    <%= render 'sanfrancisco' %>
  </a>
</div>