<% if current_user!= nil && (current_user.username == 'sierramclawhorn' || current_user.username == 'kathybui') %>
 <div class='adminPrivate'>
    <%= link_to 'New Location', new_location_path %>
  </div>
<% end %>
<br><br>


<div class="locations">
	<%= link_to render(:partial => 'sanfrancisco'), "locations/1", :class => 'sanfran' %>

	<%= link_to render(:partial => 'losangeles'), "locations/2", :class => 'losangeles' %>
  </a>
</div>