<% if current_user!= nil && (current_user.username == 'sierramclawhorn' || current_user.username == 'kathybui') %>
 <div class='adminPrivate'>
    <%= link_to 'New Location', new_location_path %>
  </div>
<% end %>
<br><br>




<div class="locations">
<% @locations.each do |location| %>
	<%= link_to render(:partial => 'sanfrancisco'), "locations/#{location.id}", :class => 'sanfran' %>
<% end %>
  </a>
</div>