<% if session[:user_id] == @admin.id %>
  <div class='adminPrivate'>
    <%= link_to 'New Post', new_location_post_path(@location.id) %>
  </div>
<% end %>


<% if @location.posts.length == 0 %>
  <h1><%= @location.name %><br>
  Coming Soon...</h1>
<% end %>


