<% if session[:user_id] == @admin.id %>
  <div class='adminPrivate'>
    <%= link_to 'New Post', new_location_post_path(@location.id) %>
  </div>
  <br><br>
<% end %>


<% if @location.posts.length == 0 %>
  <h1><%= @location.name %><br>
  Coming Soon...</h1>
<% end %>



<div class='posts'>

    <!-- iterate for future when multiple posts -->
    <%= link_to image_tag('/sanfrancisco/bernalheights.jpg', class: 'postImg'),     location_post_path(@location) %>
    
</div>
